body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.trocador-de-cores{
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
}
button{
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}